<!DOCTYPE html>
<html>
  <head>
    <title>Vehicles Listing</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Vehicles Listing</h1>
    <p>Welcome to JWT Test App <%= req.user.email %></p>
  </body>
</html>
